In [1]:
# Question 1 

a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [2]:
# Calling b() function three times

b()
b()
b()

In [3]:
#Value of a

print(a)

6

In [ ]:
#  the execution in the interpreter:

# 1. b(): When b() is called, it updates the global variable a by assigning it the value returned by c(a).

# 2. b(): The second call to b() again updates the global variable a by assigning it the value returned by c(a). At this point, 
# a is incremented by 2, resulting in a being 4.

# 3. b(): Similarly, the third call to b() updates the global variable a by assigning it the value returned by c(a). 
#Now, a is incremented by 2 again, resulting in a being 6.

# 4. a: Finally, when a is evaluated in the last expression, it returns the value of the global variable a, which is 6.
    
    
# explanation for the above code:

# Explanation:

# The module defines three components: the variable a, the function b(), and the function c(a).

# Initially, the variable a is assigned the value 0.

# The function b() is defined to modify the global variable a. It first declares a as a global variable using the global keyword. 
# Then it assigns the value returned by c(a) to the global variable a.

# The function c(a) takes an argument a and returns the value of a + 2. It simply adds 2 to the input value.

In [4]:
# Question 2

def fileLength(midterm):
        try:
            infile = open(midterm)
            contents = infile.read()
            infile.close()
            return len(contents)
        except FileNotFoundError:
            print(f"File {midterm} not found.")

In [5]:
fileLength(r"C:\Users\Dell\Downloads\midterm.txt")

123

In [6]:
fileLength(r"C:\Users\Dell\Downloads\idterm.txt")

File C:\Users\Dell\Downloads\idterm.txt not found.

In [7]:
# Question 3
# a) extends the Marsupial  __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object
# b) supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis 
# and by dy units along the y- axis
# c) overloads the __str__ operator so it behaves as shown below in output. 

class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({}, {})".format(self.x, self.y)

In [8]:
# Test the function

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  

k = Kangaroo(0, 0)
print(k)  
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

In [9]:
# Question 4

def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [10]:
# Test the function

collatz(1)   
collatz(10)

1
10
5
16
8
4
2
1

In [11]:
# Question 5

def binary(n):
    if n == 0:
        return '0'
    elif n == 1:
        return '1'
    else:
        return binary(n // 2) + str(n % 2)

In [12]:
# Test the function

print(binary(0))   
print(binary(1))   
print(binary(3)) 
print(binary(9))

0
1
11
1001

In [13]:
# Question 6

from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.heading_level = 0
        self.is_heading = False

    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.heading_level = 1
            self.is_heading = True
        elif tag == 'h2':
            self.heading_level = 2
            self.is_heading = True
        else:
            self.is_heading = False

    def handle_data(self, data):
        if self.is_heading:
            indent = '  ' * (self.heading_level - 1)
            heading_text = data.strip()
            if heading_text:
                print(f"{indent}{heading_text}")


# Test the class
file_path = r"C:\Users\Dell\Downloads\w3c.txt"
with open(file_path, 'r') as infile:
    content = infile.read()

hp = HeadingParser()
hp.feed(content)

W3C Mission
  Principles

In [14]:
# Question 7

import requests
from bs4 import BeautifulSoup


def get_links_from_page(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    links = [link.get('href') for link in soup.find_all('a', href=True)]
    return links


def webdir(url, depth, indent):
    if depth < 0:
        return

    links = get_links_from_page(url)

    indent_str = '  ' * indent
    print(f"{indent_str}{url}")

    for link in links:
        if link.startswith('http'):
            webdir(link, depth - 1, indent + 1)


# function testing
starting_url = 'http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
webdir(starting_url, depth=2, indent=0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [15]:
# Question 8

import pandas as pd
import sqlite3

# Read the dataset from the CSV file
df = pd.read_csv(r"C:\Users\Dell\Downloads\dataset.csv")

# Create a SQLite in-memory database
conn = sqlite3.connect(":memory:")

# Write the DataFrame to a SQLite table
df.to_sql("table_name", conn, index=False)

# SQL queries and their corresponding questions
queries = [
    ("SELECT `Temperature (C)` FROM table_name;", "All the temperature data."),
    ("SELECT DISTINCT `City` FROM table_name;", "All the cities, but without repetition."),
    ("SELECT * FROM table_name WHERE `Country` = 'India';", "All the records for India."),
    ("SELECT * FROM table_name WHERE `Season` = 'Fall';", "All the Fall records."),
    ("SELECT `City`, `Country`, `Season` FROM table_name WHERE `Rainfall (mm)` BETWEEN 200 AND 400;",
     "The city, country, and season for which the average rainfall is between 200 and 400 millimeters."),
    ("SELECT `City`, `Country` FROM table_name WHERE `Season` = 'Fall' AND `Temperature (C)` > 20 ORDER BY `Temperature (C)`;",
     "The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order."),
    ("SELECT SUM(`Rainfall (mm)`) FROM table_name WHERE `City` = 'Cairo';", "The total annual rainfall for Cairo."),
    ("SELECT `Season`, SUM(`Rainfall (mm)`) AS `Total_Rainfall` FROM table_name GROUP BY `Season`;",
     "The total rainfall for each season.")
]

# Execute the SQL queries and display the results
for query, question in queries:
    print(question)
    result = conn.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)
    print()

All the temperature data.
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

All the cities, but without repetition.
('Mumbai',)
('London',)
('Cairo',)

All the records for India.
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

All the Fall records.
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
('Cairo', 'Egypt')
('Mumbai', 'India')

The total annual rainfall for Cairo.
(27.6,)

The total rainfall for each season.
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

In [16]:
# Question 9

words  =  ['The',  'quick',  'brown',  'fox',  'jumps',  'over', 'the',  'lazy',  'dog']

In [17]:
# a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']:

words_uppercase = [word.upper() for word in words]
words_uppercase

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [18]:
# b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']:

words_lowercase = [word.lower() for word in words]
words_lowercase

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [19]:
# c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in words):

word_lengths = [len(word) for word in words]
word_lengths

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [20]:
# d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
# ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of 
# list words, where each list contains the word in uppercase and lowercase and the length of the word.)

word_details = [[word.upper(), word.lower(), len(word)] for word in words]
word_details

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [21]:
# e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in words containing 4 or more
# characters):

words_characters = [word for word in words if len(word) >= 4]
words_characters

['quick', 'brown', 'jumps', 'over', 'lazy']